html,
body {
  height: 100%;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.quote-right {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;
}

.quote-subtitle {
  font-size: 14px;
}

.quote-description {
  font-size: 14px;
}

.quote-action {
  display: flex;
  gap: 10px;
}

